h1{
  margin-left: 200px;
}
h2{
  margin-left: 280px;
}
header{
  background-color: rgb(255, 255, 255);
}
body{
  background-color: rgb(255, 255, 255);
}
header{
  color: azure;
}
header{
  background-color: limegreen;
}
header{
margin: 0px;
}
